[submodule "changelog/themes/hugo-changelog-theme"]
	path = changelog/themes/hugo-changelog-theme
	url = https://github.com/jsnjack/hugo-changelog-theme

[submodule "assets/spectre"]
	path = changelog/themes/hugo-changelog-theme/assets/spectre
	url = https://github.com/picturepan2/spectre.git