sudo: required
language: csharp
dotnet: 2.1.303
services:
  - docker
os:  
  - linux
branches:  
 only:
   - master
script:
 - npm install -g snyk
 - snyk auth ${SNYK_TOKEN}
 - dotnet --info
 - dotnet build src/Promitor.sln --configuration release
 - dotnet test src/Promitor.Scraper.Tests.Unit/Promitor.Scraper.Tests.Unit.csproj --list-tests
 - dotnet test src/Promitor.Scraper.Tests.Unit/Promitor.Scraper.Tests.Unit.csproj --no-build
 - docker build ./src/ --file ./src/Promitor.Scraper.Host/Dockerfile --no-cache
 - cd ./src/Promitor.Scraper.Host
 - snyk test --packageManager=nuget --org=tomkerkhove-github-marketplace
 - snyk monitor --packageManager=nuget --org=tomkerkhove-github-marketplace
