sudo: required
language: csharp
solution: src/Promitor.sln
dotnet: 2.0.0
services:
  - docker
os:  
  - linux
branches:  
 only:
   - master
script:
 - dotnet --info
 - dotnet build src/Promitor.sln --configuration release
 - dotnet test src/Promitor.Scraper.Tests.Unit/Promitor.Scraper.Tests.Unit.csproj
 - docker build src/Promitor.Scraper/ --no-cache