p
  strong September 2017
ul
  li
    a(href='experimentals.html#off-canvas') Off-canvas
    | : navigation layout that the sidebar can slide in and out of the viewport 
    small.label.label-primary NEW
p
  strong August 2017
ul
  li
    a(href='getting-started.html') Switch to Sass 
    small.label.label-primary NEW
  li
    a(href='getting-started.html') New Docs Experience 
    small.label.label-primary NEW
p
  strong April 2017
ul
  li
    a(href='components.html#accordions') Accordions
    | : used to toggle sections of content
  li
    a(href='experimentals.html#filters') Filters
    | : CSS only content filters
  li
    a(href='experimentals.html#comparison') Comparison Sliders
    | : sliders for comparing two images
  li
    a(href='experimentals.html#timelines') Timelines
    | : ordered sequences of activities
p
  strong March 2017
ul
  li
    a(href='elements.html#icons') Icons
    | : single-element, responsive and pure CSS icons
  li
    a(href='components.html#popovers') Popovers
    | : small overlay content containers
  li
    a(href='layout.html#panels') Panels
    | : flexible view container layout with auto-expand content section
  li
    a(href='experimentals.html#carousels') Carousels
    | : slideshows for cycling images
  li
    a(href='experimentals.html#calendars') Calendars
    | : date or date range picker and events display
p
  strong February 2017
ul
  li New Documents experience
  li
    a(href='components.html#bars') Bars
    | : represent the progress of a task or the value within the known range
  li
    a(href='components.html#steps') Steps
    | : progress indicators of a sequence of task steps
  li
    a(href='components.html#tiles') Tiles
    | : repeatable or embeddable information blocks
  li
    a(href='experimentals.html') Experimentals
    | : experimental elements and features
  li
    a(href='experimentals.html#meters') Meters
    | , 
    a(href='experimentals.html#parallax') Parallax
    | , 
    a(href='experimentals.html#progress') Progress
    |  and 
    a(href='experimentals.html#sliders') Sliders
p
  strong March 2016
ul
  li Initial commit
p
  a.btn.btn-primary(href='https://github.com/picturepan2/spectre/releases', target='_blank') Releases