azureLandscape:
  tenantId: c8819874-9e56-4e3f-b1a8-1c0325138f27
  subscriptions:
  - 0329dd2a-59dc-4493-aa54-cb01cb027dc2
  - 0f9d7fea-99e8-4768-8672-06a28514f77e
resourceDiscoveryGroups:
- name: service-bus-landscape
  type: ServiceBusQueue
  criteria:
    subscriptions:
    - 0329dd2a-59dc-4493-aa54-cb01cb027dc2
- name: api-gateways
  type: ApiManagement
- name: app-plan-landscape
  type: AppPlan
- name: container-instances
  type: ContainerInstance
- name: container-registry-landscape
  type: ContainerRegistry
- name: cosmos-accounts
  type: CosmosDb
- name: dps
  type: DeviceProvisioningService
- name: iot-gateways
  type: IoTHub
- name: key-vaults
  type: KeyVault
- name: redis-caches
  type: RedisCache
- name: virtual-machines
  type: VirtualMachine
- name: virtual-machine-scale-sets
  type: VirtualMachineScaleSet
- name: web-apps-north-europe
  type: WebApp
  criteria:
    include:
      regions:
      - northeurope
- name: web-app-landscape
  type: WebApp
- name: function-app-landscape
  type: FunctionApp
- name: web-apps
  type: WebApp
  criteria:
    regions:
    - northeurope
    - westeurope
- criteria:
    resourceGroups:
    - promitor-sources
  name: web-apps-filtered
  type: WebApp
- criteria:
    tags:
      app: promitor-sample
  name: logic-apps
  type: LogicApp
# The following are used for integration testing:
- name: logic-apps-unfiltered
  type: LogicApp
- name: one-resource-group-scenario
  type: LogicApp
  criteria:
    include:
      resourceGroups:
      - promitor-testing-resource-discovery-eu
- name: two-resource-group-scenario
  type: LogicApp
  criteria:
    resourceGroups:
    - promitor-testing-resource-discovery-eu
    - promitor-testing-resource-discovery-us
- name: one-subscriptions-scenario
  type: LogicApp
  criteria:
    subscriptions:
    - 0329dd2a-59dc-4493-aa54-cb01cb027dc2
- name: two-subscriptions-scenario
  type: LogicApp
  criteria:
    subscriptions:
    - 0329dd2a-59dc-4493-aa54-cb01cb027dc2
    - 0f9d7fea-99e8-4768-8672-06a28514f77e
- name: one-tag-scenario
  type: LogicApp
  criteria:
    tags:
      app: promitor-resource-discovery-tests
- name: two-tag-scenario
  type: LogicApp
  criteria:
    tags:
      app: promitor-resource-discovery-tests
      region: europe
- name: one-region-scenario
  type: LogicApp
  criteria:
    regions:
    - northeurope
- name: two-region-scenario
  type: LogicApp
  criteria:
    regions:
    - northeurope
    - westeurope