version: v1
azureLandscape:
  tenantId: e0372f7f-a362-47fb-9631-74a5c4ba8bbf
  subscriptions:
  - 63c590b6-4947-4898-92a3-cae91a31b5e4
  cloud: Global
resourceDiscoveryGroups:
- name: service-bus-landscape
  type: ServiceBusNamespace
- name: api-gateways
  type: ApiManagement
- name: application-insights-landscape
  type: ApplicationInsights
- name: app-plan-landscape
  type: AppPlan
- name: automation-accounts
  type: AutomationAccount
- name: cdn-landscape
  type: Cdn
- name: container-instances
  type: ContainerInstance
- name: container-registry-landscape
  type: ContainerRegistry
- name: cosmos-accounts
  type: CosmosDb
- name: data-factory-landscape
  type: DataFactory
- name: data-share-landscape
  type: DataShare
- name: dps
  type: DeviceProvisioningService
- name: event-hubs-landscape
  type: EventHubs
- name: front-door-landscape
  type: FrontDoor
- name: iot-gateways
  type: IoTHub
- name: key-vaults
  type: KeyVault
- name: load-balancers
  type: LoadBalancer
- name: autoscaling-rules
  type: MonitorAutoscale
- name: mariadb-servers
  type: MariaDb
- name: mysql-servers
  type: MySql
- name: network-interfaces
  type: NetworkInterface
- name: postgres-databases
  type: PostgreSql
- name: redis-caches
  type: RedisCache
- name: redis-enterprise-caches
  type: RedisEnterpriseCache
- name: sql-databases
  type: SqlDatabase
- name: sql-managed-instances
  type: SqlManagedInstance
- name: sql-elastic-pools
  type: SqlElasticPool
- name: sql-servers
  type: SqlServer
- name: storage-accounts
  type: StorageAccount
- name: synapse-apache-spark-pools
  type: SynapseApacheSparkPool
- name: synapse-sql-pools
  type: SynapseSqlPool
- name: synapse-workspaces
  type: SynapseWorkspace
- name: virtual-machines
  type: VirtualMachine
- name: virtual-machine-scale-sets
  type: VirtualMachineScaleSet
- name: virtual-networks
  type: VirtualNetwork
- name: web-apps-north-europe
  type: WebApp
  criteria:
    include:
      regions:
      - northeurope
- name: web-app-landscape
  type: WebApp
- name: function-app-landscape
  type: FunctionApp
- name: web-apps
  type: WebApp
  criteria:
    include:
      regions:
      - northeurope
      - westeurope
- name: web-apps-in-resource-group
  type: WebApp
  criteria:
    include:
      resourceGroups:
      - promitor-sources
- name: logic-apps
  type: LogicApp
  criteria:
    include:
      tags:
        app: promitor-sample
# The following are used for integration testing:
- name: logic-apps-unfiltered
  type: LogicApp
- name: one-resource-group-scenario
  type: LogicApp
  criteria:
    include:
      resourceGroups:
      - promitor-testing-infrastructure-europe
- name: one-resource-group-scenario-with-other-casing
  type: LogicApp
  criteria:
    include:
      resourceGroups:
      - promitor-testing-infrastructure-europe
- name: two-resource-group-scenario
  type: LogicApp
  criteria:
    include:
      resourceGroups:
      - promitor-testing-infrastructure-europe
      - promitor-testing-infrastructure-us
- name: one-subscriptions-scenario
  type: LogicApp
  criteria:
    include:
      subscriptions:
      - 63c590b6-4947-4898-92a3-cae91a31b5e4
- name: one-tag-scenario
  type: LogicApp
  criteria:
    include:
      tags:
        app: promitor-resource-discovery-tests
- name: two-tag-scenario
  type: LogicApp
  criteria:
    include:
      tags:
        app: promitor-resource-discovery-tests
        region: europe
- name: one-instance-tag-with-multi-value-scenario
  type: LogicApp
  criteria:
    include:
      tags:
        app: promitor-resource-discovery-tests
        region: europe
        instance: promitor-testing-resource-eu-workflow-eu-[0-9]
- name: one-region-scenario
  type: LogicApp
  criteria:
    include:
      regions:
      - northeurope
- name: two-region-scenario
  type: LogicApp
  criteria:
    include:
      regions:
      - northeurope
      - westeurope