version: '3.4'

services:
  promitor.agents.resourcediscovery:
    image: tomkerkhove/promitor-agent-discovery
    build:
      context: .
      dockerfile: Promitor.Agents.ResourceDiscovery/Dockerfile
    volumes:
      - "./../tests/resource-discovery-declaration.yaml:/config/resource-discovery-declaration.yaml"
  promitor.agents.scraper:
    image: tomkerkhove/promitor-agent-scraper
    build:
      context: .
      dockerfile: Promitor.Agents.Scraper/Dockerfile
    links:
        - graphite
    volumes:
      - "./metric-config.yaml:/config/metrics-declaration.yaml"
      - "./runtime-config.yaml:/config/runtime.yaml"
  graphite:
    image: graphiteapp/graphite-statsd
    restart: always
    ports:
      - 2000:80
      - 2003:2003
      - 2004:2004
      - 2023:2023
      - 2024:2024
      - 8125:8125/udp
      - 8126:8126
  grafana:
    image: grafana/grafana
    links:
        - graphite
    ports:
      - 3000:3000