version: v1
azureMetadata:
  tenantId: c8819874-9e56-4e3f-b1a8-1c0325138f27
  subscriptionId: 0f9d7fea-99e8-4768-8672-06a28514f77e
  resourceGroupName: promitor
metricDefaults:
  aggregation:
    interval: 00:05:00
  scraping:
    # Every minute
    schedule: "0 * * ? * *"
metrics:
  - name: azure_container_registry_total_pull_count_discovered
    description: "Amount of images that were pulled from the container registry"
    resourceType: ContainerRegistry
    azureMetricConfiguration:
      metricName: TotalPullCount
      aggregation:
        type: Average
    resourceCollections:
    - name: container-registry-landscape
  - name: promitor_demo_appplan_percentage_cpu_discovered
    description: "Average percentage of memory usage on an Azure App Plan"	
    resourceType: AppPlan	
    azureMetricConfiguration:	
      metricName: MemoryPercentage	
      aggregation:	
        type: Average
    resourceCollections:
    - name: app-plan-landscape
  - name: promitor_demo_webapp_cpu_discovery
    description: "Amount of CPU time used for an Azure Web App"
    resourceType: WebApp
    azureMetricConfiguration:
      metricName: CpuTime
      aggregation:
        type: Total
    resourceCollections:
    - name: web-app-landscape	
  - name: promitor_demo_function_memory_discovery
    description: "Average memory for an Azure Function App"	
    resourceType: FunctionApp	
    azureMetricConfiguration:	
      metricName: MemoryWorkingSet	
      aggregation:	
        type: Average
    resourceCollections:
    - name: function-app-landscape