name: CI - Code

on:
  workflow_dispatch:
  pull_request:
    paths:
    - .github/workflows/ci-code.yml
    - src/**

env:
  dotnetVersion: '7.0.x'

jobs:
  verify_codebase:
    name: Verify Codebase
    runs-on: ubuntu-latest
    # Assign permissions for unit tests to be reported.
    # See https://github.com/dorny/test-reporter/issues/168
    permissions:
      statuses: write
      checks: write
      contents: write
      pull-requests: write
    steps:
        # Checkout code
      - name: Checkout Code
        uses: actions/checkout@v4

        # Install .NET
      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnetVersion }}

        # Build Solution
      - name: Build Solution
        run: dotnet build src/Promitor.sln --configuration release

        # Run Automated Tests
      - name: Run Unit Tests
        run: dotnet test src/Promitor.Tests.Unit/Promitor.Tests.Unit.csproj --logger "trx;LogFileName=test-results.trx"

        # Publish Unit Test Results
      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-results
          path: src/**/test-results.trx
  code_quality:
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    name: Code Quality (R#)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.dotnetVersion }}

      - name: Restore NuGet Packages
        run: dotnet restore src/Promitor.sln

      - name: R# Code Quality
        uses: muno92/resharper_inspectcode@1.11.10
        with:
          solutionPath: src/Promitor.sln
          minimumSeverity: warning
